vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
storage/debugbar/
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
linkss
redirectss

public/build

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.DS_Store
public/signed/*
!public/signed/.gitignore
!resources/views/vendor/


*.crt
*.pem

# hidden files
.vagrant
.idea
.vscode

# yarn 
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions