@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);.markdown {
  /* https://github.com/mrmrs/fluidity */
}

@media print {
  .markdown *,
  .markdown *:before,
  .markdown *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .markdown a,
  .markdown a:visited {
    text-decoration: underline;
  }

  .markdown a[href]:after {
    content: " (" attr(href) ")";
  }

  .markdown abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .markdown a[href^="#"]:after,
  .markdown a[href^="javascript:"]:after {
    content: "";
  }

  .markdown pre,
  .markdown blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .markdown thead {
    display: table-header-group;
  }

  .markdown tr,
  .markdown img {
    page-break-inside: avoid;
  }

  .markdown img {
    max-width: 100% !important;
  }

  .markdown p,
  .markdown h2,
  .markdown h3 {
    orphans: 3;
    widows: 3;
  }

  .markdown h2,
  .markdown h3 {
    page-break-after: avoid;
  }
}

.markdown html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .markdown html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .markdown html {
    font-size: 16px;
  }
}

.markdown body {
  line-height: 1.85;
}

.markdown p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

.markdown h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

.markdown h2 {
  font-size: 2.827rem;
}

.markdown h3 {
  font-size: 1.999rem;
}

.markdown h4 {
  font-size: 1.414rem;
}

.markdown h5 {
  font-size: 1.121rem;
}

.markdown h6 {
  font-size: .88rem;
}

.markdown small {
  font-size: .707em;
}

.markdown img,
.markdown canvas,
.markdown iframe,
.markdown video,
.markdown svg,
.markdown select,
.markdown textarea {
  max-width: 100%;
}

.markdown body {
  color: #444;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  margin: 6rem auto 1rem;
  max-width: 48rem;
  text-align: center;
}

.markdown a,
.markdown a:visited {
  color: #3498db;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
  color: #2980b9;
}

.markdown pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}

.markdown blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

.markdown ul,
.markdown ol,
.markdown li {
  text-align: left;
}

.markdown p {
  color: #777;
}

