@media (max-width: 500px) {
  .uidpage {
    margin-top: -2rem;
  }
}

.banner {
  background: rebeccapurple;
  height: 100vh;
  max-height: 250px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon {
  padding: 2.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  border: 1px solid white;
  border-radius: 1.45rem;
  background-position: center;
  background-size: 5.5rem;
}

.get {
  min-width: 7rem !important;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 0.5rem;
}

.get:first-of-type {
  margin-left: 0;
}

.title {
  font-weight: bold;
  margin: 0 0.5rem;
}

.installs,
.title,
.info {
  padding: 0.5rem 0;
}

.bar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info {
  margin: 0 0.5rem;
  text-align: center;
}

.installs {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 100vw;
  text-align: right;
  z-index: 1;
}

.data {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.6rem;
  margin: 0;
  text-align: center;
  width: 5.5rem;
  margin: 0 0.1rem;
}

.data > * {
  width: 100%;
  text-align: center;
}

.data .number {
  font-weight: 700;
  font-size: 0.9rem;
}

.data .label {
  font-size: 0.54rem;
  margin-top: 0.3rem;
}

.shadow {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  height: 5rem;
  width: 200vw;
  background: rgba(0, 0, 0, 0.67);
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  z-index: 0;
}

.tags {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tag {
  padding: 0.3rem 1rem;
  border: 1px solid #ccc;
  margin: 0.3rem;
  border-radius: 50rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

