// Variables
@import "variables";
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
#app {
  margin-top: 4rem;
  padding: 2rem 1rem;
  max-width: 100vw;
  max-height: 100vh;
  opacity: 0;
  @media (max-width: 500px) {
    padding: 1.6rem 0;
  }
}
.wrapper {
  max-width: 960px;
  margin: auto;
  &.mobile {
    max-width: 400px;
  }
}
.card {
  background: white;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0rem auto 1rem;
  overflow: hidden;
  .field {
    padding: 0.5rem 0rem;
  }
}


.console {
    padding: 0.5rem;
    background: black;
    color: white;
    font-family: monospace;
    padding-left: 1rem;
    user-select: all;
    &:before {
      content: ">";
      display: inline-block;
      margin-right: 1rem;
    }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 400
}

.center {
  text-align: center;
}

@for $i from 1 through 6 {
  .h#{$i}, h#{$i} {
    font-size: #{6/$i}rem
  }
}

@for $i from 1 through 10 {
  .p#{$i} {
    padding: #{$i}rem ;
  }
  .pl#{$i} {
    padding-left: #{$i}rem !important;
  }
  .pr#{$i} {
    padding-right: #{$i}rem !important;
  }
  .pt#{$i} {
    padding-top: #{$i}rem !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}rem !important;
  }
  .p-#{$i} {
    padding: #{$i/10}rem ;
  }
  .pl-#{$i} {
    padding-left: #{$i/10}rem !important;
  }
  .pr-#{$i} {
    padding-right: #{$i/10}rem !important;
  }
  .pt-#{$i} {
    padding-top: #{$i/10}rem !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i/10}rem !important;
  }
}

@for $i from 1 through 10 {
  .m#{$i} {
    margin: #{$i}rem ;
  }
  .ml#{$i} {
    margin-left: #{$i}rem !important;
  }
  .mr#{$i} {
    margin-right: #{$i}rem !important;
  }
  .mt#{$i} {
    margin-top: #{$i}rem !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}rem !important;
  }
  .m-#{$i} {
    margin: #{$i/10}rem ;
  }
  .ml-#{$i} {
    margin-left: #{$i/10}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{$i/10}rem !important;
  }
  .mt-#{$i} {
    margin-top: #{$i/10}rem !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i/10}rem !important;
  }
}

.flex {
  display: flex;
  justify-content: flex-start;
}

$button-colors: 'red' $red, 'green' $green,  'blue' $blue, 'white' $white;
@each $color in $button-colors {
  $class: nth($color, 1);
  $value: nth($color, 2);
  .fill--#{$class} {
    color: $value !important;
    border: 1px solid $value !important;
    text-decoration: none !important;
    &:hover {
      color: white !important;
      background: $value !important;
      cursor: pointer !important;
    }
    &.dark:hover {
      color: black !important;
    }
  }
}


.app {
  height: 5rem;
  position: relative;
  width: calc(100% / 3 - (0.3rem * 2));
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  outline: none;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  @media screen and (min-width: 576px) {
    width: calc(100% / 2 - (0.3rem * 2));
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - (0.3rem * 2));
  }
  &:hover{
    cursor: pointer;
    // border-color: $
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
  }
}


.Editor {
  .heading {
    font-size: 2rem;
  }
  .bold {
    font-weight: bold;
  }
  .strikethrough {
    text-decoration: line-through;
  }
  .italic {
    font-style: italic;
  }
}

input.fancy, textarea.fancy {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    background: rgba(0,0,0,0.05);
    width: 100%;
    resize: vertical;
}

input.big, button.big {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0;
  outline: none;
  margin-top: 0.5rem;
  &:first-of-type {
    margin: 0;
  }
  &:focus, &:valid:not(button) {
    border: 2px solid $green
  }
  &:focus:invalid {
    border: 2px solid $red
  }
}

button.blue {
    border: 2px solid transparent;
    background: $blue;
    color: white;
    &:hover {
      background: $blue-hover;
      cursor: pointer;
    }
}

.tabs {
  max-width: 100%;
  margin: 0 auto 1rem;
  display: flex;
}
.tab {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  color: black;
  &.selected {
    background: $blue;
    color: white;
    border-color: $blue-hover
  }
  &:last-of-type {
    border-left: 0;
  }

}
