// Variables
@import "variables";
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 400;
  background: #f2f2f2;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
@for $i from 1 through 10 {
  .p#{$i} {
    padding: #{$i}rem !important;
  }
  .pl#{$i} {
    padding-left: #{$i}rem !important;
  }
  .pr#{$i} {
    padding-right: #{$i}rem !important;
  }
  .pt#{$i} {
    padding-top: #{$i}rem !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}rem !important;
  }
  .p-#{$i} {
    padding: #{$i/10}rem !important;
  }
  .pl-#{$i} {
    padding-left: #{$i/10}rem !important;
  }
  .pr-#{$i} {
    padding-right: #{$i/10}rem !important;
  }
  .pt-#{$i} {
    padding-top: #{$i/10}rem !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i/10}rem !important;
  }
}

@for $i from 1 through 10 {
  .m#{$i} {
    margin: #{$i}rem !important;
  }
  .ml#{$i} {
    margin-left: #{$i}rem !important;
  }
  .mr#{$i} {
    margin-right: #{$i}rem !important;
  }
  .mt#{$i} {
    margin-top: #{$i}rem !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}rem !important;
  }
  .m-#{$i} {
    margin: #{$i/10}rem !important;
  }
  .ml-#{$i} {
    margin-left: #{$i/10}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{$i/10}rem !important;
  }
  .mt-#{$i} {
    margin-top: #{$i/10}rem !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i/10}rem !important;
  }
}
#app {
  margin-top: 3rem;
  padding: 2rem 1rem;
  max-width: 100vw;
  min-height: 100vh;
  @media (max-width: 500px) {
    padding: 1.6rem 0;
  }
}

.hide-on-server-render {
  display: none;
}
.wrapper {
  max-width: 960px;
  margin: auto;
  &.markdown-body {
    max-width: 36rem;
  }
  &.mobile {
    max-width: 400px;
  }
}
.card {
  background: white;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0rem auto 1rem;
  overflow: hidden;
  @media screen and (max-width: 576px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .field {
    padding: 0.5rem 0rem;
  }
}


.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

.has-shadow {
  box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.5) !important;
  border: none !important;
}
.console {
    padding: 0.5rem;
    background: black;
    color: white;
    font-family: monospace;
    padding-left: 1rem;
    user-select: all;
    &:before {
      content: ">";
      display: inline-block;
      margin-right: 1rem;
    }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 400
}

.center {
  text-align: center;
}

// @for $i from 1 through 6 {
//   .h#{$i}, h#{$i} {
//     font-size: #{6/$i}rem
//   }
// }



.flex {
  display: flex;
  justify-content: flex-start;
}

$button-colors: 'red' $red, 'green' $green,  'blue' $blue, 'white' $white;
@each $color in $button-colors {
  $class: nth($color, 1);
  $value: nth($color, 2);
  .fill--#{$class} {
    color: $value !important;
    border: 1px solid $value !important;
    text-decoration: none !important;
    &:hover, &:focus {
      color: white !important;
      background: $value !important;
      cursor: pointer !important;
    }
    &.dark:hover, &:focus {
      color: black !important;
    }
  }
}


.app {
  height: 5rem;
  position: relative;
  width: calc(100% / 3 - (0.3rem * 2));
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  outline: none;
  @media screen and (max-width: 576px) {
    width: 100%;
    margin: 0;
    margin-top: -1px;
  }
  @media screen and (min-width: 576px) {
    width: calc(100% / 2 - (0.3rem * 2));
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - (0.3rem * 2));
  }
  &:hover, &:focus{
    cursor: pointer;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
  }
}


.Editor {
  .heading {
    font-size: 2rem;
  }
  .bold {
    font-weight: bold;
  }
  .strikethrough {
    text-decoration: line-through;
  }
  .italic {
    font-style: italic;
  }
}

.fancy {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    background: rgba(0,0,0,0.05);
    width: 100%;
    resize: vertical;
    &.white{
      background: white;
    }
}

input.big, button.big {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0;
  outline: none;
  margin-top: 0.5rem;
  &:first-of-type {
    margin: 0;
  }
  &:focus, &:valid:not(button) {
    border: 2px solid $green
  }
  &:focus:invalid {
    border: 2px solid $red
  }
}

button.blue {
    border: 2px solid transparent;
    background: $blue;
    color: white;
    &:hover, &:focus {
      background: $blue-hover;
      cursor: pointer;
    }
}

.tabs {
  max-width: 100%;
  margin: 0 auto 1rem;
  display: flex;
}
.tab {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  color: black;
  &.selected {
    background: $blue;
    color: white;
    border-color: $blue-hover
  }
  &:last-of-type {
    border-left: 0;
  }

}




.markdown {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    hr {
        border: none;
        border-bottom: 1px solid #CCCC;
        margin: 1rem;
    }
    p, a, li {
        line-height: 1.5rem;
    }
    ul {
      padding: 0;
      border: 1px solid #ccc;
      border-radius: 0.4rem;
      background: white;
      margin: 1rem 0;
      li {
        list-style: none;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
        flex-wrap: wrap;
        &:last-of-type {
          border: none;
        }
      }
    }
    blockquote {
        border-left: 7px solid #03A9F4;
        background: rgba(0,0,0,0.04);
        padding: 1rem 2rem;
        margin: 1rem 0;
    }
    code {
        background: #eee;
        padding: 0 0.3rem;
    }
    pre {
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 0.3rem;
        padding: 1rem;
        margin: 1rem 0;
    }
    table {
      margin: 1rem 0;
      border: 1px solid #ccc;
      border-spacing: 0;
      width: 100%;
      thead {
        background: #2196F3;
        color: white;
      }
      tr {
        &:last-of-type td,{
          border-bottom: none;
        }
        th, td {
          border-bottom: 1px solid;
          border-right: 1px solid;
          border-color: #ccc;
          padding: 0.5rem;
          &:last-of-type {
            border-right: none;
          }
        }

      }
    }
    img {
      border-style: none;
      max-height: 300px;
      margin: 1rem;
    }
}


footer {
  background: #141a1d;
  min-height: 100vh;
  color: white;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .column {
    line-height: 2rem;
    text-align: center;
    padding: 4rem 1rem;
    display: inline-block;
    width: 300px;
    .item, h1, h2, h3 {
      width: 200px;
      float: right;
      text-align: left;
      // text-decoration: none;
      color: white;
    }
    i {
      margin-right: 1rem;
    }
  }
}

ul.fancy {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  background: white;
  li {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
    &:last-of-type {
      border: none;
    }
  }
}

.socials a {
  margin-left: 1rem;
  .fa-reddit {color: #ff4500}
  .fa-twitter {color: #1ca1f2}
  .fa-globe{color: #797979}
}

.bigger i{
  font-size: 1.5rem;
  text-decoration: none;
}

.note {
    font-size: 0.9rem;
    color: #666;
    font-weight: 100;
    padding-left: 1rem;
    border-left: 5px solid gold;
    background: cornsilk;
    padding: 1rem;
    margin: 1rem auto;
}

// ol.neat {
//     list-style-position: inside;
//     padding: 0;
//     li {
//       padding-bottom: 1rem;
//       &:last-of-type {
//         padding: none;
//       }
//     }
// }



.apps {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1;
  .content {
    overflow: hidden;
    flex-grow: 1;
    margin-left: 0.5rem;
    align-self: flex-start;
    font-size: 0.8rem;
  }
  .get {
      min-width: 3.2rem !important;
      font-size: 0.6rem;
      padding: 0.3rem;
      border-radius: 5rem;
      text-transform: uppercase;
  }
  .description{
    font-size: .8rem;
    height: 2.5rem;
  }
  .shadow {
      box-shadow: 0px -5px 11px 12px white;
      position: absolute;
      width: 100%;
      left: 5.5rem;
      top: 100%;
  }
  .image {
    width: 0;
    height: 0;
    padding: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 101;
}
