@import "./_vars.scss";
@import url('https://fonts.googleapis.com/css?family=Merriweather:900i|Amiko:400');


* {
  box-sizing: border-box;
  font-family: $bodyFamily;
}

*::selection {
  background: $red; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: $red; /* Gecko Browsers */
}

html, body {
  font-size: 16px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 400;
}

.text-shadow {
  text-shadow: 0.2em 0.2em 0em rgba(0, 0, 0, 0.05);
}

.display {
  font-family: $headerFamily;
}

h1, .h1 {
  margin-bottom: 2.6rem;
  font-family: $headerFamily;
  font-size: 4.57763671875em;
  line-height: 5.2rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0em;
  }

  h2, .h2 {
  margin-bottom: 2.6rem;
  font-family: $headerFamily;
  font-size: 3.662109375em;
  line-height: 5.2rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0em;
  }

  h3, .h3 {
  margin-bottom: 2.6rem;
  font-family: $headerFamily;
  font-size: 2.9296875em;
  line-height: 5.2rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0em;
  }

  h4, .h4 {
  margin-bottom: 2.6rem;
  font-family: $headerFamily;
  font-size: 2.34375em;
  line-height: 2.6rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0em;
  }

  h5, .h5 {
  margin-bottom: 2.6rem;
  font-family: $headerFamily;
  font-size: 1.875em;
  line-height: 2.6rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0em;
  }

  h6, .h6 {
  margin-bottom: 2.6rem;
  font-family: $headerFamily;
  font-size: 1.5em;
  line-height: 2.6rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0em;
  }

  p, .text, a {
  margin-bottom: 2.6rem;
  font-family: $bodyFamily;
  font-size: 1.4em;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  }

  @include lt('tablet-landscape') {
    html, body {
      font-size: 12px;
    }
  h1, .h1 {
  margin-bottom: 3.5rem;
  font-family: $headerFamily;
  font-size: 4.7775744em;
  line-height: 7rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  }
  h2, .h2 {
  margin-bottom: 3.5rem;
  font-family: $headerFamily;
  font-size: 3.981312em;
  line-height: 7rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  }
  h3, .h3 {
  margin-bottom: 3.5rem;
  font-family: $headerFamily;
  font-size: 3.31776em;
  line-height: 3.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  }
  h4, .h4 {
  margin-bottom: 3.5rem;
  font-family: $headerFamily;
  font-size: 2.7648em;
  line-height: 3.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  }
  h5, .h5 {
  margin-bottom: 3.5rem;
  font-family: $headerFamily;
  font-size: 2.304em;
  line-height: 3.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  }
  h6, .h6 {
  margin-bottom: 3.5rem;
  font-family: $headerFamily;
  font-size: 1.92em;
  line-height: 3.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  }
  p, .text, a {
  margin-bottom: 3.5rem;
  font-family: $bodyFamily;
  font-size: 1.6em;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  }

  }

a {
  margin-bottom: 0;
  text-decoration: none;
  color: $blue;
  &:not(.disabled):hover {
    color: darken($blue, 10%);
  }
}
p  a, .text  a {
  font-size: 1em;
}

.display-clear {
  font-family: $bodyFamily;
}

p, .text, a {
  img {
    display: block;
    max-width: 100%;
  }
}

.markdown {
  ul, ol {
    li:last-of-type {
      color: red;
      display: none;
    }
  }
}

.btn {
  color: white;
  background-color: #ddd;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;
  text-align: center;
  user-select: none;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: map-get($spacing, 3) (map-get($spacing, 3) * 2);
  &:not(.disabled):hover {
    cursor: pointer;
  }
  &:not(.disabled):active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;
  }
  .text-#{$name} {
    color: $value;
  }
  .btn-#{$name} {
    background-color: $value;
    &:not(.disabled):hover {
      background-color: white;
      color: $value;
    }
  }
}

@each $name, $value in $spacing {
  .p-#{$name} { padding: $value !important }
  .pt-#{$name} { padding-top: $value !important }
  .pb-#{$name} { padding-bottom: $value !important }
  .pr-#{$name} { padding-right: $value !important }
  .pl-#{$name} { padding-left: $value !important }
  .px-#{$name} { padding-left: $value !important; padding-right: $value !important; }
  .py-#{$name} { padding-top: $value !important; padding-bottom: $value !important; }

  .m-#{$name} { margin: $value !important }
  .mt-#{$name} { margin-top: $value !important }
  .mb-#{$name} { margin-bottom: $value !important }
  .mr-#{$name} { margin-right: $value !important }
  .ml-#{$name} { margin-left: $value !important }
  .mx-#{$name} { margin-left: $value !important; margin-right: $value !important; }
  .my-#{$name} { margin-top: $value !important; margin-bottom: $value !important; }
}

.btn-white:not(.disabled):hover {
  color: $blue;
}

section {
  padding: map-get($spacing, 5) 0px;
  position: relative;
}


.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 0px map-get($spacing, 3);
  @include only-phone{
    padding: 0px map-get($spacing, 2);
  };
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px (map-get($spacing, 3) * -1);
  @include only-phone{
    margin: 0px;
  };
}

.col {
  flex-grow: 1
}

@for $i from 1 through 12 {
  .col-#{$i}, .col-phone-#{$i}, .col-tablet-portrait-#{$i}, .col-tablet-landscape-#{$i}, .col-desktop-#{$i}, .col-big-desktop-#{$i} {
    flex-basis: $i / 12 * 100%;
    width: $i / 12 * 100%;
  }
}

@each $device in $devices {
  [class^=col-#{$device}-] {
    @include  at($device) {
      flex-basis: 100%;
      width: 100%;
    }
  }
}


.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.fixed {
  position: fixed;
}



nav {
  padding:  0px;
  transition: background-color 0.6s;
  font-family: Amiko;
  a, label {
    color: inherit !important;
    font-weight: 600;
    font-size: 1.2em;
    // padding: 0.9rem 0.5rem;
    // margin: -1.4rem 0;
    padding: 0 (map-get($spacing, 3));
    height: 100%;
    align-items: center;
    display: inline-flex;
    padding-bottom: 0;
    text-decoration: none;
    &:not(.disabled):hover {
      background:rgba(1, 135, 210, 0.45);
      color: inherit !important;
      text-shadow: none;
      cursor: pointer;
    }
  }
  i {
    font-weight: 100;
    font-size: 1.4em;
    text-shadow: none;
  }
  .brand, .brand a {
    padding: (map-get($spacing, 2));
    font-size: 1.4em;
    text-decoration: none;
  }
  &.fixed {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .parent {
    position: relative;
  }
  .dropnav {
    display: none;
    padding: 0rem;
    text-align: right;
    box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
  }
  .navcheck {
    position: fixed;
    top: -200%;
    left: -200%;
  }
  .navcheck:checked + .dropnav {
    display: block;
  }
}

.landing {
  background-image: url($landing);
  background-size: cover;
  background-repeat: no-repeat;
}

#waves {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(55%);
  transform: translateY(55%);
  width: 100%;
  z-index: -1;
}

.flex{
  &-lt {display: flex; justify-content: flex-start; align-items: flex-start;}
  &-lc {display: flex; justify-content: flex-start; align-items: center;}
  &-lb {display: flex; justify-content: flex-start; align-items: flex-end;}
  &-ct {display: flex; justify-content: center; align-items: flex-start;}
  &-cc {display: flex; justify-content: center; align-items: center;}
  &-cb {display: flex; justify-content: center; align-items: flex-end;}
  &-rt {display: flex; justify-content: flex-end; align-items: flex-start;}
  &-rc {display: flex; justify-content: flex-end; align-items: center;}
  &-rb {display: flex; justify-content: flex-end; align-items: flex-end;}
  &-sbt {display: flex; justify-content: space-between; align-items: flex-start;}
  &-sbc {display: flex; justify-content: space-between; align-items: center;}
  &-sbb {display: flex; justify-content: space-between; align-items: flex-end;}
}


.device-wrapper {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.device-img {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 24rem;
  top: 6rem;
}

@each $device in $devices {
  .show-gt-#{$device} {
    display: none;
    @include gt($device) {
      display: inherit;
    }
  }
}

@each $device in $devices {
  .show-lt-#{$device} {
    display: none;
    @include lt($device) {
      display: inherit;
    }
  }
}



// .show-gt-tablet-landscape {
//   display: none;
//   @include gt-tablet-landscape {
//     display: inherit;
//   }
// }

#read-progress {
  position: fixed;
  width: 0%;
  height: 3px;
  background: $blue;
}

.d-block {
  display: block;
}



.app {

  font-family: $bodyFamily;
  display: flex;
  align-items: center;
  color: $dark;

  .content, .content * {
    overflow: hidden;
    line-height: 1em;
    flex-grow: 1;
    font-style: normal;
    font-size: 1em;
  }

  // input[type="text"] {
  //   border: 0;
  //   outline: 0;

  // }
  // &:hover, &:focus{
  //   cursor: pointer;
  //   box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
  // }
}

form, input {
  width: 100%;
}

textarea {
  resize: vertical;
}

.border-thin-light {
  border: 1px solid #eee;
}


.border-rounded {
  border-radius: 32%;
}

.border-none {
  border-radius: 0;
}

.autocomplete {
  position: relative;
  width: 100%;
  .autocomplete-results {
    position: absolute;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 0px 2px -1px black;
    & > * {
      border-width: 0px 1px 1px;
      border-color: #eee;
      border-style: solid;
      background: white;
      &:hover {
        cursor: pointer;
        background: #f5f5f5;
      }
    }
    .auto-complete-match {
      // word-spacing: -5px;
      background: #c2e9ff;
    }
  }
}



table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #262932;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  color: white;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
  padding-right: 8px;
}
table thead tr {
  height: 60px;
  background: #212329;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}

tbody tr:nth-child(even) {
  /* background-color: #f5f5f5; */
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: white;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #fff;
  background-color: #1b1d24;
  cursor: pointer;
}

label.btn {
  display: inline-block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}
.modal-check {
  position: absolute;
  left: -200%;
}
.modal-check:checked + .modal {
  display: flex;
}

.modal-header {
  z-index: 1;
  color: black;
  margin:0;
}

.modal-body {
  border: 1px solid #ccc;
  color: black;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 85%;
  margin: 0;
}

.modal-header + .modal-body {
  border-top: none;
}




.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

form label {
  display: block;
}


.navlinks {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.navlinks > li,
.navlinks > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.stacked > li {
  display: list-item;
}
.stacked > li > a {
  display: block;
  white-space: nowrap;
}

.flyout,
.flyout-alt {
  position: relative;
}
.flyout-content {
  position: absolute;
  top: 0;
  left: -99999px;
  height: 0;
  overflow: hidden;
}
.flyout:hover > .flyout-content {
  left: 0;
  top: 100%;
}
.flyout-alt:hover > .flyout-content {
  top: 0;
  left: 100%;
}
.flyout:hover > .flyout-content,
.flyout-alt:hover > .flyout-content {
  height: auto;
  overflow: visible;
  background: rgba(0,0,0,0.9);
  color: white;
}
.flyout-alt > a:after{
    content:" ▸";
}

.navlinks a,
.navlinks label {
  color: inherit!important;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0 1rem;
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3EB5F7;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}