html {
  font-size: 20px !important;
}
@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 18px !important;
  }
}

body {
  line-height: 1.85 !important;
}

.markdown {
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  

  
  p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.998rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 2.027rem;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.799rem;
  }
  
  h4 {
    font-size: 1.414rem;
  }
  
  h5 {
    font-size: 1.121rem;
  }
  
  h6 {
    font-size: .88rem;
  }
  
  small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
    max-height: 60vh;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);
  
  body {
    color: #444;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    margin: 6rem auto 1rem;
    max-width: 48rem;
    text-align: center;
  }
  
  //a,
  //a:visited {
  //  color: #3498db;
  //}
  //
  //a:hover,
  //a:focus,
  //a:active {
  //  color: #2980b9;
  //}
  
  pre {
    background-color: #282727;
    padding: 1rem;
    text-align: left;
    overflow: auto;
  }
  
  blockquote {
    margin: 0;
    border-left: 5px solid #7a7a7a;
    font-style: italic;
    padding: 1.33em;
    text-align: left;
  }
  
  ul,
  ol,
  li {
    text-align: left;
  }

  ul {
    list-style: circle;
    margin: 1rem 0 1.5rem;
    line-height: 2rem;
    padding-left: 20px;
  }

  ol {
    list-style: decimal;
    margin: 0.5rem 0 1.5rem;
    line-height: 2rem;
    padding-left: 20px;
  }

  li img {
    max-height: 70vh;
    margin: 1rem auto 2rem;
  }
  
  p {
    color: #08090a;
  }
  @media(prefers-color-scheme: dark) {
    p {
      color: #eee;
    }
  }
}
