<div class="p-2 flex-lc">
    <img class="border-rounded" src="<%= window.location.origin + '/' + icon %>" height="30" width="30">
    <a href="/app/edit/<%=uid%>" class="ml-3 text-dark"><%= name %></a>
</div>
